/* Further adjustments:
Try rgba for opacity on pictures
Try to make background fixed size and maximum width so that
larger browser size will not cause stretched page
*/


* {
	font-family: "verdana", sans-serif;
}

@font-face {
	font-family: kaushan;
	src: url('../KaushanScript-Regular.otf');
}

body {
	background-image: url('https://cloud.githubusercontent.com/assets/6379305/3246677/b252921e-f17d-11e3-943a-4305cfc4b0cb.JPG');
	background-size: auto 100%;
	background-attachment: fixed;
}

h2 {
	color: darkblue;
}

p {
	color: black
}

a {
	color: rgb(28, 132, 202);
	text-decoration: none;
}

a:hover {
	color: rgb(241, 140, 108);
}

header {
	float: left;
	width: 75%;
	margin: 1% 10% 2% 10%;
	font-size: 48px;
	font-weight: bold;
	color: darkblue;
	padding: 2px;
	position: fixed;
	font-family: kaushan;
}

li {
	position: relative;
	display: inline-block;
	font-weight: normal;
}

li.level1 {
	display: inline-block;
	vertical-align: top;
	width: auto;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	border-radius: 10px	
}

div.group {
	display: inline-block;
	padding: 5px 10px;	
}

div#menu {
	position: relative;
	margin-left: 45%;
	margin-top: 3%;
	z-index: 2;
}


li.level1 ul {
	padding: 2px;
	padding-bottom: 5px;
}

li.sub {
	display: block;
	visibility: hidden;
	width: inherit;
	text-align: center;
}

section {
	position: relative;
	float: right;
	width: 55%;
	margin: -8% 2% 2% 0%;
	background-color: rgba(255, 255, 255, 0.85);
	padding: 2%;
	border-radius: 10px;
	border: 1px solid rgb(255, 147, 0);
	z-index: 1;
}	

section#about {
	visibility: hidden;
}

article {
	color: black;
}

img {
	opacity: 1.0;
	vertical-align: center; /*not sure about centering images */
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-ux0ql4');
	src:url('fonts/icomoon.eot?#iefix-ux0ql4') format('embedded-opentype'),
		url('fonts/icomoon.woff?-ux0ql4') format('woff'),
		url('fonts/icomoon.ttf?-ux0ql4') format('truetype'),
		url('fonts/icomoon.svg?-ux0ql4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*class^="icon-" selects anything that starts with "icon" and class*=" icon-" selects anything that includes " icon"*/ 

p#links {
	position: fixed;
	width: 20%;
	margin: -8% 0% 0% 10%;
	font-color: black;
	font-size: 24px;
	text-decoration: none;
	padding: 3px;	
}


a.icon{
	color: darkblue;
	text-decoration: none;
}

a.icon:hover {
	color: rgb(241, 140, 108);
}

.icon-github:before {
	content: "\e605";
}
.icon-mail:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-facebook:before {
	content: "\e600";
}
.icon-googleplus:before {
	content: "\e603";
}
.icon-linkedin:before {
	content: "\e604";
}

@media (min-aspect-ratio: 4448/2236) {
	body {
		background-size: 100% auto;
	}
}

@media (max-width: 760px) {

	section {
		width: 93%;
		margin: 1%;
	}

	body {
	background-size: auto 100%;
	background-repeat: none;
	background-attachment: fixed;
	}

	img {
		max-width: 93%;
	}

}


}
