* {
	font-family: "verdana", sans-serif;
}

body {
	background-image: url('https://cloud.githubusercontent.com/assets/6379305/3246677/b252921e-f17d-11e3-943a-4305cfc4b0cb.JPG');
	background-size: 100%;
	background-attachment: fixed;
}

header {
	float: left;
	width: 90%;
	margin: 15px;
	margin-top: 25px;
	font-size: 48px;
	font-weight: bold;
	color: darkblue;
	border-bottom-color: black;
	border-bottom-width: 2px;
}

section {
	float: left;
	width: 70%;
	margin: 15px;
	margin-right: 10px;
	opacity: 0.8;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
}	

h2 {
	color: firebrick;
}

p {
	color: black
}

aside {
	float: right;
	width: 20%;
	margin: 15px;
	margin-left: 5px;
	opacity: 0.8;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
}

aside#picture {
	width: 13%;
	margin-right: 80px;
	padding: 0px;
	opacity: 1.0;
	border-radius: 80px;
	border: 2px solid aliceblue;
}

footer {
	float: left;
	width: 95%;
	margin: 15px;
	padding: 10px;
	color: white;
	border: 2px solid white;
	border-radius: 10px;
}

a {
	color: darkblue;
}

a:hover {
	color:lightskyblue;
}

img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 80px;
	opacity: 1.0;
}

article {
	color: black;
}