.* {
	font-style: arial;
}

body {
	background-image: url('https://cloud.githubusercontent.com/assets/6379305/3245704/ab32ee9c-f174-11e3-914b-9f68c100dbd0.JPG');
	background-size: 100%;
}

header {
	float: left;
	width: 90%;
	font-size: 48;
	font-weight: bold;
	color: darkgreen;
	border-bottom-color: black;
	border-bottom-width: 2px;
}

section {
	float: left;
	width: 60%;
	margin-left: 20px;
	margin-right: 20px;
	opacity: 0.8;
	background-color: white;
	padding: 20px;
}	

h2 {
	color: firebrick;
}

p {
	color: firebrick;
}

aside {
	float: right;
	width: 30%;
	margin-left: 20px;
	margin-right: 20px;
	opacity: 0.8;
	background-color: white;
	padding: 10px;
}

footer {
	float: left;
	width: 90%;
	margin: auto;
	padding: 10px;
	color: cornsilk;
	border: 2px solid cornsilk;
}

a {
	color: darkblue;
}

a:hover {
	color:darkorange;
}