* {
	font-family: "verdana", sans-serif;
}

body {
	background-image: url('https://cloud.githubusercontent.com/assets/6379305/3246560/b5708d30-f17c-11e3-98cf-9ed0ed915fd6.JPG');
	background-size: 100%;
}

header {
	float: left;
	width: 90%;
	margin: 15px;
	font-size: 48px;
	font-weight: bold;
	color: darkgreen;
	border-bottom-color: black;
	border-bottom-width: 2px;
}

section {
	float: left;
	width: 60%;
	margin: 15px;
	margin-right: 10px;
	opacity: 0.8;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
}	

h2 {
	color: firebrick;
}

p {
	color: firebrick;
}

aside {
	float: right;
	width: 30%;
	margin: 15px;
	margin-left: 5px;
	opacity: 0.8;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
}

footer {
	float: left;
	width: 95%;
	margin: 15px;
	padding: 10px;
	color: white;
	border: 2px solid white;
	border-radius: 10px;
}

a {
	color: darkblue;
}

a:hover {
	color:darkorange;
}