/*
Link file to html file using external method
Add colors, background colors or fonts to different parts of the page
Use ids and classes to change specific elements
*/

.narrative {
	color: green;
}

#contact {
	color: blue;
}

h1 {
	letter-spacing: 2px;
	color: red;
}

#main {
	width: 70%;
	margin: auto;
	background: black;
	border: 2px solid green;
}