.box {
	float: center;
	margin-left: auto;
	margin-right: auto;
	height: 600px;
}

.box .section {
	border: 2px solid blue;
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 63%;
	padding: 10px;
	background-color: aliceblue;	
}

.box .aside {
	border: 2px solid blue;
	float: right;
	margin-left: auto;
	margin-right: auto;
	width: 33%;
	padding: 10px;
	background-color: aliceblue;
}

.box .image img {
	width: 60%;
	height: auto;
}

h2 {
	position: relative;
	top: -10px;
	left: 0px;
}

article {
	float: center;
	border: 1px solid green;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	background-color: white;
}

.header {
	float: center;
	margin-bottom: 10px;
	border: 2px solid blue;
	background-color: aliceblue;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	color: darkblue;
	padding: 20px;
}

.footer {
	float: center;
	margin-top: 10px;
	border: 2px solid blue;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: aliceblue;
}

a:hover {
	color: lightcoral;
}

* {
	font-family: arial;
}