.box {
	float: center;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.box .section {
	border: 2px solid blue;
	float: left;
	width: 55%;
	padding: 10px;
}

.box .aside {
	border: 2px solid blue;
	float: right;
	width: 25%;
	padding: 10px;
}

article {
	float: center;
	width: 90%;
	border: 1px solid green;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.header {
	float: center;
	margin-bottom: 10px;
	border: 2px solid blue;
	background-color: gray;
	font-size: 16px;
	padding: 20px;
	width: 90%;
}

.footer {
	float: center;
	margin-top: 10px;
	border: 2px solid blue;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 90%;
}

