.box {
	float: center;
	margin-left: auto;
	margin-right: auto;
	height: 400px;
}

.box .section {
	border: 2px solid blue;
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding: 10px;
}

.box .aside {
	border: 2px solid blue;
	float: right;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	padding: 10px;
}

article {
	float: center;
	border: 1px solid green;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

.header {
	float: center;
	margin-bottom: 10px;
	border: 2px solid blue;
	background-color: aliceblue;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	padding: 20px;
}

.footer {
	float: center;
	margin-top: 10px;
	border: 2px solid blue;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

